body {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px double black;
    padding: 20px;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    width: 65px;
    height: 65px;
}

.row {
    display: flex;
    gap: 5px;
}

.display {
    padding: 10px;
    height: 45px;
    border: 1px solid black;
}

